<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->
<web-app>
    <welcome-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-list>  
</web-app>
